.home-page {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  h1 {
    text-align: center;
  }
  .restaurants-container {
    margin: 20px auto;
    ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      li {
        background: #ffffffc2;
        display: flex;
        flex-direction: column;
        margin: 10px;
        text-align: center;
        h3 {
          margin: 10px 0;
        }
        div {
          margin: 5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            margin: 3px 0;
          }
          img {
            margin-bottom: 10px;
            max-width: 90%;
            height: auto;
            border-radius: 10px;
            object-fit: cover;
          }
          .delivery {
            text-align: center;
            div {
              flex-direction: row;
              align-items: center;
              justify-content: center;
              .fa-motorcycle {
                margin-right: 10px;
              }
            }
          }
        }
        a {
          text-decoration: none;
          color: #000;
          img:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-page {
    width: 90%;
    .restaurants-container {
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
